.banner-title {
  font-size: 56px;
  line-height: 56px;    
  text-align: center;
  transform: translateY(-50%);
}
.banner-title span {
  margin: 0 -5px;
  background: linear-gradient(180deg, rgba(215,142,40,1) 0%, rgba(243,209,55,1) 35%, rgba(0,0,0,1) 100%);
  opacity: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  display: inline-block;
  animation: animateTitleBanner 1s linear forwards;
}
.banner-title span:nth-child(2) {
  animation-delay: 1s;
}
.banner-title span:nth-child(3) {
  animation-delay: 1s;
}
.banner-title span:nth-child(4) {
  animation-delay: 1.5s;
}
.banner-title span:nth-child(5) {
  animation-delay: 1.5s;
}
.banner-title span:nth-child(6) {
  animation-delay: 1.5s;
}
.banner-title span:nth-child(7) {
  animation-delay: 1.5s;
}
.banner-title span:nth-child(8) {
  animation-delay: 2s;
}
.banner-title span:nth-child(9) {
  animation-delay: 2s;
}
.banner-title span:nth-child(10) {
  animation-delay: 2s;
}
@keyframes animateTitleBanner {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0px);
  }
}
.title-main {
  position: relative;
}
.title-main::before {
  content: attr(data-text);
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: #3bffe8;
  text-shadow: 0 0 10px #3bffe8,
  0 0 30px #3bffe8,
  0 0 80px #3bffe8;
  font-weight: 500;
  letter-spacing: 40px;
  white-space: nowrap;
  opacity: 0;
  transition: 0.5s;
}
.title-main:hover {
  color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.title-main:hover::before {
  opacity: 1;
  letter-spacing: 20px;
}